{% extends 'base.html' %}
{% block content %}
<section id="benefits" class="container">

<div class="tabbable tabs">
    <ul class="nav nav-pills">
      <li class="active"><a href="#norm" data-toggle="tab">Баримталж зохиосон дүрэм, журмууд</a></li>
      <li><a href="#construction" data-toggle="tab">Барилга угсралт</a></li>
      <li><a href="#hvac" data-toggle="tab">Сантехник</a></li>
      <li><a href="#elecom" data-toggle="tab">Цахилгаан, холбоо дохиолол</a></li>
      <li><a href="#rebuild" data-toggle="tab">Барилгын засварын ажил</a></li>
    </ul>
</div>

    <section class="tab-content">
        <div class="tab-pane active" id="norm">
           <div class="center">
              <h2>Монгол улсад мөрдөгдөж буй барилгын төсөв зохиох дүрэм</h2>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </div>
            <hr>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet</p>

            <div class="col-sm-3">
        <h4>“БАРИЛГА, САНТЕХНИКИЙН АЖЛЫН ТӨСВИЙН СУУРЬ НОРМ”</h4>
        <p>БХБС-ЫН 2006 ОНЫ 142 ДУГААР ТУШААЛААР БАТЛАГДСАН. НИЙТ 24 ЭМХТГЭЛ.</p>
        <div class="panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                  Барилга угсралт
                </a>
              </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                  Сантехник
                </a>
              </h4>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree1" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
        </div><!--/#accordion1-->
      </div><!--/.col-sm-4-->

            <div class="col-sm-3">
        <h4>“БАРИЛГА, ЗАСВАРЫН АЖЛЫН ТӨСВИЙН СУУРЬ НОРМ”</h4>
        <p>БХБС-ЫН 2005 ОНЫ 80 ДУГААР ТУШААЛААР БАТЛАГДСАН. Нийт 17 эмхэтгэл</p>
        <div class="panel-group" id="accordion2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                  Барилга угсралт
                </a>
              </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
                  Сантехник
                </a>
              </h4>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree2" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
        </div><!--/#accordion1-->
      </div><!--/.col-sm-4-->

            <div class="col-sm-3">
        <h4>"БАРИЛГЫН ЦАХИЛГААНЫ АЖЛЫН УГСРАЛТ, ХОЛБООЖУУЛАЛТЫН ТӨСВИЙН СУУРЬ НОРМ"</h4>
        <p>БТДБС-ЫН 2004 ОНД БАТЛАГДСАН. НИЙТ 5 ЭМХТГЭЛ</p>
        <div class="panel-group" id="accordion3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
                  Collapsible Group Item #2
                </a>
              </h4>
            </div>
            <div id="collapseTwo3" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree3" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
              </div>
            </div>
          </div>
        </div><!--/#accordion3-->
      </div><!--/.col-sm-4-->

        </div>
        <div class="tab-pane" id="construction">
            <div class="row">
      <div class="col-sm-12">
        <h4>“БАРИЛГА, САНТЕХНИКИЙН АЖЛЫН ТӨСВИЙН СУУРЬ НОРМ”</h4>
        <p>БХБС-ын 2006 оны 142 дугаар тушаалаар батлагдсан 24 эмхтгэлийн барилга угсралтын нормууд.</p>
            <div class="col-sm-8 col-sm-push-2 list-group">
              <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">01<span class="glyphicon glyphicon-arrow-right"></span>Газар шорооны ажил</h4>
                    <p class="list-group-item-text">БНбД 81-01-06</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">03<span class="glyphicon glyphicon-arrow-right"></span>Өрөмдлөгө тэсэлгээний ажил</h4>
                <p class="list-group-item-text">БНбД 81-01-06</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">05<span class="glyphicon glyphicon-arrow-right"></span>Гадсан суурийн ажил</h4>
                <p class="list-group-item-text">БНбД 81-01-06</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">06<span class="glyphicon glyphicon-arrow-right"></span>Бетон ба төмөр бетонон цутгамал бүтээц</h4>
                <p class="list-group-item-text">БНбД 81-01-06</p>
              </a>
            </div>
      </div><!--/.col-sm-4-->
    </div>
        </div>
        <div class="tab-pane" id="hvac">
            <p>hvac</p>
        </div>
        <div class="tab-pane" id="elecom">
            <p>elecom</p>
        </div>
        <div class="tab-pane" id="rebuild">
            <p>elecom</p>
        </div>
    </section>
</section>
{% endblock %}